<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="fragments/headers::head(title='Add Rental')"></head>
<body>
<div class="container">
    <h2 class="mt-4">Add Rental</h2>
    <nav th:replace="rental/rentalsPage :: top"></nav>
    <form th:action="@{/rentals/add}" th:object="${addRentalForm}" method="post">
        <div th:replace="fragments/formField :: form-multiSelect(productInstanceId, 'Choose Product Instance', allProductInstances, 'displayProductInfo')"></div>
        <div th:replace="fragments/formField :: form-multiSelect(customerId, 'Choose Customer', allCustomers, 'CustomerInfo')"></div>
        <div th:replace="fragments/formField :: form-Field(rentalDate, 'Rental Date')"></div>
        <div th:replace="fragments/formField :: form-Field(returnDate, 'Return Date')"></div>
        <div th:replace="fragments/formField :: btn-addForm('/rentals')"></div>
    </form>
</div>
</body>
</html>
